{% extends 'report/base.html' %}
{% block content %}
    <div id="login">
        <form action="{% url 'user:login_view' %}" method="post">
            {% csrf_token %}
            <label>用户名：
                <input name="username" id="username" type="text">
            </label>
            <label>密码：
                <input name="password" id="password" type="password">
            </label>
            <button class="btn btn-primary" type="submit">登录</button>
        </form>
{#        <form action="{% url 'report:login_view' %}" method="post"#}
{#              autocomplete="off">#}
{#            <div class="form-group">#}
{#                <input name="username" id="username" type="text"#}
{#                       placeholder="手机号/邮箱"/>#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <input name="password" id="password_l" type="password"#}
{#                       placeholder="请输入您的密码"/>#}
{#            </div>#}
{#            <div class="error" id="jsLoginTips">#}
{#                {% for key, value in login_form.errors.items %}#}
{#                    {{ value }}#}
{#                {% endfor %}#}
{#                {% if not login_form.errors %}#}
{#                    {{ msg }}#}
{#                {% endif %}#}
{#            </div>#}
{#            <input class="btn btn-success" id="jsLoginBtn" type="submit"#}
{#                   value="立即登录 "/>#}
{#            {% csrf_token %}#}
{#        </form>#}
    </div>
{% endblock %}